$title-font: 'Merriweather', serif;
$title-b-font:'Libre Baskerville', serif;
$tamaño: 10px;
$body-font: 'Bitter', serif;
//$text-shadow: 1px 6px 4px 7px #CCD1D1;//
$text-shadow: 1px 2px 3px black, 0 0 1em #CCD1D1, 0 0 0.1em #CCD1D1;
$box-shadow: 10px 5px 5px black;
$main-tapeface: 'Playfair Display', serif;
$main-tapeface-light: 600;
$main-tapeface-regular: 900;
$color-light: #fff;
$color-banner: #D7DBDD;
$color-menu: #E5E8E8;
$color-wall: #94a366;
$color-dark: #5c5c5c;
$color-letter: #4d5137;
