@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,900;1,700&display=swap");
/*Media query*/
/*
@media (max-width: 700px){
    .alma {
        display: flex;
        flex-direction: column;
      }
      #navbar{
          display: flex;
          flex-direction: column;
          .navbar-nav {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          .navbar-collapse {
              a {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  img {
                      margin-left: 0;
                      margin-top: 10px;
                  }
              }
          }
      }
      .body{
        display: flex;
        flex-direction: row;
        background-image: url(../img/fondo.jpg);
        
      }
      .tresColumnas{
        display: flex;
        flex-direction: column;
        background-color: #97b557;
      }
      .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #132408;
        background-image: none;
      }
      .footer-columna {
          display: flex;
          flex-direction: column;
          h4 {
              font-size: 1.5rem;
          }
          label {
              font-size: 1rem;
          }
          li {
              font-size: 1rem;
          }
          &:hover {
              color: #ccc;
          }
      }
      .foot {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      .obras {
          display: flex;
          flex-direction: column;
          .foto img{
              width: 100%;
          }
      }
      .servicios {
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      .servicios__metodologia {
          display: flex;
          flex-direction: column;
          background-color: #ddffbc;
      }
      .carrusel {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .carousel-item{
          width: auto;
      }
      .nosotros {
          display: flex;
          flex-direction: column;
      }
      .nosotros__idiologia {
          display: flex;
          flex-direction: column;
      }
  }
  @media (max-width: 768px){
    .alma {
      display: flex;
      flex-direction: column;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar-collapse {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    .body{
      display: flex;
      flex-direction: row;
      background-image: url(../img/fondo.jpg);
      
    }
    .tresColumnas{
      display: flex;
      flex-direction: column;
      background-color: #97b557;
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(../img/fondo.jpg);
      background-size: auto;
    }
    .footer-columna {
        display: flex;
        flex-direction: column;
        h4 {
            font-size: 1.5rem;
        }
        label {
            font-size: 1rem;
        }
        li {
            font-size: 1rem;
        }
        &:hover {
            color: #ccc;
        }
    }
    .foot {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .obras {
        display: flex;
        flex-direction: column;
        .foto img{
            width: 100%;
        }
    }
    .servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .servicios__metodologia {
        display: flex;
        flex-direction: column;
        background-color: #ddffbc;
    }
    .carrusel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carousel-item{
        width: auto;
    }
    .nosotros {
        display: flex;
        flex-direction: column;
    }
    .nosotros__idiologia {
        display: flex;
        flex-direction: column;
    }
  }
   @media (max-width: 1050px){
    .alma {
        display: flex;
        flex-direction: column;
      }
      #navbar{
          display: flex;
          flex-direction: column;
          .navbar-nav {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          .navbar-collapse {
              a {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  img {
                      margin-left: 0;
                      margin-top: 10px;
                  }
              }
          }
      }
      .body{
        display: flex;
        flex-direction: row;
        background-image: url(../img/fondo.jpg);
        
      }
      .tresColumnas{
        display: flex;
        flex-direction: column;
        background-color: #97b557;
      }
      .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/fondo.jpg);
      }
      .footer-columna {
          display: flex;
          flex-direction: column;
          h4 {
              font-size: 1.5rem;
          }
          label {
              font-size: 1rem;
          }
          li {
              font-size: 1rem;
          }
          &:hover {
              color: #ccc;
          }
      }
      .foot {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      .obras {
          display: flex;
          flex-direction: column;
          .foto img{
              width: 100%;
          }
      }
      .servicios {
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      .servicios__metodologia {
          display: flex;
          flex-direction: column;
          background-color: #ddffbc;
      }
      .servicio__metodologia--color {
        width: 100%;
      }
      .carrusel {
          display: none;
          
      }
      .contact {
          display: flex;
          flex-direction: column;
          margin: 5px;
      }
      .nosotros {
          display: flex;
          flex-direction: column;
      }
      .nosotros__idiologia {
          display: flex;
          flex-direction: column;
      }
  }*/
/* ----------------------------------------------
 * Generated by Animista on 2021-7-6 13:14:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/*Color de fondo general*/
body {
  background-color: #94a366;
}

/* Navbar y footer de todas las secciones*/
/*Navbar*/
.cabecera {
  background-color: #4d5137;
  width: 100%;
  text-align: center;
}

.cabecera #name {
  font-family: "Playfair Display", serif;
  text-shadow: 1px 2px 3px black, 0 0 1em #CCD1D1, 0 0 0.1em #CCD1D1;
  color: #D7DBDD;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.cabecera .letras {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black, 0 0 1em #CCD1D1, 0 0 0.1em #CCD1D1;
  color: #fff;
  font-size: 1.5rem;
}

.cabecera .letras:hover {
  color: #E5E8E8;
}

.cabecera #navbar {
  background-image: url("../img/fondo2.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cabecera #logo {
  margin: 10px;
}

.cabecera .ico {
  color: #ccc;
  padding: 5px;
  margin: 5px;
}

.cabecera .ico:hover {
  color: #ccc;
}

.cabecera .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Footer*/
.pies {
  width: 100%;
  text-align: center;
}

.pies .footer {
  background-color: #5c5c5c;
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  font-family: "Playfair Display", serif;
  color: #E5E8E8;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pies .footer-columna {
  background-color: #5c5c5c;
  padding: 15px;
  text-align: center;
  color: #E5E8E8;
}

.pies .footer-columna a {
  color: #E5E8E8;
}

.pies .footer-columna a:hover {
  color: #94a366;
}

.pies .footer-columna-size {
  font-size: 2rem;
}

.pies .fondo {
  background-color: #5c5c5c;
}

/*Index*/
.banner {
  background-image: url(../img/proyecto25.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 200px;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  padding-bottom: 20px;
}

.banner label {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-size: 2rem;
  color: #5c5c5c;
  opacity: 0.4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.banner button {
  color: #5c5c5c;
  margin: 10px;
  margin-left: 50%;
  opacity: 0.6;
}

.banner button:hover {
  color: #000;
  background-color: #fff;
  opacity: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

/*La variable hombros la utilizamos para la seccion de index y servicios*/
.hombros {
  max-width: 100%;
}

.hombros .title {
  margin: 10px;
  text-align: center;
  letter-spacing: 0.4em;
  font-family: "Libre Baskerville", serif;
  color: #5c5c5c;
  text-shadow: 0.9px 0.9px 1px #000;
}

.hombros h2 {
  font-size: 2.5rem;
}

.hombros h3 {
  font-size: 2rem;
}

.torso {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

.torso .trescolumnas {
  margin: 10px;
  color: #4d5137;
  font-size: 1rem;
}

.torso .trescolumnas .columna {
  margin: 10px;
  border: solid #5c5c5c 10px;
  background-color: #fff;
}

.torso .trescolumnas .columna label {
  font-size: 1.5rem;
  margin: 5px;
  color: #5c5c5c;
  text-shadow: 1px 1px 1px black;
}

.torso .trescolumnas .columna p {
  margin: 5px;
  padding-bottom: 10px;
}

.slide-in-tl-1 {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

.slide-in-tl-2 {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.slide-in-tl {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
  animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}

.piernas {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #5c5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.piernas h2 {
  letter-spacing: 0.4em;
  font-size: 2.5rem;
  text-shadow: 0.9px 0.9px 1px #000;
}

.piernas p {
  margin: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: #5c5c5c;
}

/*Servicios*/
.servicios {
  text-align: center;
  background-color: #E5E8E8;
  padding: 10px;
  border: #94a366 solid 10px;
}

.servicios .servicios__metodologia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .servicios__metodologia .servicio__metodologia--color h3 {
  font-family: "Libre Baskerville", serif;
  color: #94a366;
}

.servicios .servicios__metodologia .servicio__metodologia--color p {
  font-family: "Bitter", serif;
  color: #5c5c5c;
}

/*Contacto*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.contact .contact__title {
  color: #5c5c5c;
  font-family: "Libre Baskerville", serif;
  text-shadow: 1px 2px 3px black, 0 0 1em #CCD1D1, 0 0 0.1em #CCD1D1;
  font-size: 2.5rem;
  text-align: center;
}

.contact .contact__cuadro {
  color: #94a366;
  font-size: 1.2rem;
  margin: 50px;
  padding: 20px;
  background-color: #feffde;
  border: solid black 1px;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
}

.contact .contact__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contac__formulario--space {
  padding: 15px;
  margin: 10px;
  text-align: center;
  resize: none;
}

.contact .contact__formulario--position {
  font-family: "Libre Baskerville", serif;
  padding: 10px;
}

.contact .contact__formulario--boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*Proyectos*/
.frase {
  font-family: "Libre Baskerville", serif;
  padding: 50px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 5px;
  color: #ccc;
  text-shadow: 1px 1px 2px black;
}

.frase h3 {
  text-align: center;
}

.obras {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 15px 10px;
  grid-auto-flow: row;
      grid-template-areas: "foto1"  "foto2" "foto3"  "foto4"  "foto5"  "foto6" "foto7"  "foto8"  "foto9"  "foto10";
}

.foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.foto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto2;
}

.foto3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto3;
}

.foto4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: foto4;
}

.foto5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: foto5;
}

.foto6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: foto6;
}

.foto7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: foto7;
}

.foto8 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: foto8;
}

.foto9 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: foto9;
}

.foto10 {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: foto10;
}

.foto img {
  width: 100%;
  height: 100%;
  border: solid #5c5c5c;
}

/*Estudio*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Libre Baskerville", serif;
}

.nosotros .nosotros__main {
  margin: 15px;
  padding: 5px;
}

.nosotros .nosotros__main h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
  text-align: center;
  color: #5c5c5c;
  text-shadow: 1px 1px 1px black;
}

.nosotros .nosotros__main p {
  color: #5c5c5c;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  text-align: justify;
}

.nosotros .nosotros__idiologia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.nosotros .nosotros__idiologia--tipo {
  border: solid #feffde 5px;
  margin: 20px;
  padding: 10px;
  background-color: #ddffbc;
  font-family: "Bitter", serif;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 10px 5px 5px 5px black;
          box-shadow: 10px 5px 5px 5px black;
  border: solid #5c5c5c 10px;
}
/*# sourceMappingURL=style.css.map */