
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,900;1,700&display=swap");
@import "variables";
@import "responsive";
@import "mixins";
@import "main";
@import "keyframes";


.alma {
  background-color: $color-wall;
}

#name {
  font-family: $main-tapeface;
  text-shadow: $text-shadow;
  color: $color-banner;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.letras {
  font-family: $main-tapeface;
  letter-spacing: 2px;
  text-shadow: $text-shadow;
  color: #fff;
  &:hover {
    color: $color-menu;
  }
  font-size: 1.5rem;
}

#navbar {
  background-image: url("../img/fondo.jpg");
  background-size: contain;
}

#logo {
  margin: $tamaño;
  margin-left: ($tamaño)*4;
}

.ico {
  color: #ccc;
  padding: 5px;
  margin: 5px;
  &:hover {
    color: #ccc;
  }
}
.icons {
  @include row;
  justify-content: center;
}
.footer {
  background-color: $color-dark;
  padding: ($tamaño)*4;
  background-size: contain;
  background-position: 50% bottom;
  color: #fff;
  @include row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  font-family: $main-tapeface;
  border-top: $color-dark solid;
}

.footer-columna {
  margin-left: ($tamaño)*2;
  padding: 15px;
  text-align: center;
  a{
    &:hover {
      color: $color-wall;
    }
  }
}
.footer-columna-size{
  font-size: 2rem;
}

/*Modificaciones index*/
.fotoFondo {
    background-image: url(../img/proyecto25.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    display: block;
    font-size: 2rem;
    font-family: $title-b-font;
    padding-top: 500px;
    padding-bottom: ($tamaño)*2;
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        margin-top: 200px;
        margin-bottom: ($tamaño)*5;
        padding: 10px;
        font-family: $title-b-font;
        font-size: 3rem;
        color: #5c5c5c;
        background-color: #fff;
        opacity: 0.6;
        animation-duration: 2s;
        animation-name: aparecer;
    }
    button{
      color: #5c5c5c;
      opacity: 0.6;
      &:hover{
        color: #000;
        background-color: #fff;
        opacity: 1;
      }
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
.title{
  margin: 20px;
  text-align: center;
  font-family: $title-b-font;
  color: #5c5c5c;
  text-shadow: 1px 1px 2px black;
}
.slide-in-tl-1 {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.slide-in-tl-2 {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.slide-in-tl {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
.torso label {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: $title-b-font;
    color: #5c5c5c;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}
.carteles {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
}
.tresColumnas { 
    font-family: $body-font;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.columna {
    margin-left: 20px;
    margin-right: 40px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 10px 5px 5px 5px black;
    border: solid #5c5c5c 10px;
}
.final {
  font-family: $title-b-font;
  color: #5c5c5c;
  margin-top: ($tamaño)*3;
  text-shadow: 1px 1px 2px black;
  @include columna;
  justify-content: space-between;
  align-items: center;
  margin-left: (($tamaño)*2)+5;
  margin-right: (($tamaño)*2)+5;
  margin-bottom: (($tamaño)*2)+5;
  p{
    text-shadow: none;
    text-align: center;
    color: #5c5c5c;
  }
}
/*proyect*/
.frase {
  font-family: $title-b-font;
  padding: 50px; 
  font-family: $title-b-font;
  letter-spacing: 5px;
  color: #ccc;
  text-shadow: 1px 1px 2px black;
  h3 {
    text-align: center;
  }
}
.obras {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "foto1 foto2 foto3 foto4 foto5"
    "foto6 foto7 foto8 foto9 foto10";
}

.foto1 { grid-area: foto1;}

.foto2 { grid-area: foto2;}

.foto3 { grid-area: foto3;}

.foto4 { grid-area: foto4;}

.foto5 { grid-area: foto5;}

.foto6 { grid-area: foto6;}

.foto7 { grid-area: foto7;}

.foto8 { grid-area: foto8;}

.foto9 { grid-area: foto9;}

.foto10 { grid-area: foto10;}

.foto {
  img {
    width: 250px;
    height: 250px;
    border: solid $color-dark;
  }
}

  /*Servicios*/
.servicios {
  @include columna;
}
.servicios__titulo {
  padding: 10px;
  margin-left: 25px;
  margin-top: 50px;
  font-family: $title-b-font;
  font-size: 2.5rem;
  text-align: center;
  color: #5c5c5c;
  text-shadow: 1px 1px 1px black;
}
.servicios__metodologia {
    font-family: $body-font;
    margin-top: 30px;
    @include row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.servicio__metodologia--color {
  padding: 10px;
  margin: 25px;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 3px 3px #000;
  border: solid #5c5c5c 5px;

}
.carrusel {
  @include columna;
  align-items: center;
  padding: 10px;
}
  /*Contacto*/
.contact {
  @include columna;
  align-items: center;
  background-image: url(../img/fondo2.jpg);
  background-size: contain;
  background-position: center;
  padding-top: 50px; 
  
}
  .contact__title{
    color: #fff;
    font-family: $title-b-font;
    text-shadow: $text-shadow;
  }
  .contact__cuadro {
    color: $color-dark;
    margin: 50px;
    padding: 20px;
    background-color: #feffde;
    border: solid black 1px;
    box-shadow: $box-shadow;
  }
  .contact__formulario{
    @include columna;
    width: 500px;
  }
  .contac__formulario--space {
    padding: 5px;
    margin: 5px;
  }
  .contact__formulario--position{
    font-family: $title-b-font;
    margin: 5px;
    padding: 5px;
  }
   /*----Estudio-----*/  
  .nosotros {
    @include columna;
    margin: 50px;
    font-family: $title-b-font;
  }
  .nosotros__main {
     /*background-color: #feffde;*/
      padding: 5px;
      h2 {
        @include title;
      }
      p {
        color: #5c5c5c;
        font-size: 1rem;
        font-family: $title-b-font;
        text-align: justify;
      }
      }
  .nosotros__idiologia {
    @include row;
    text-align: center;
  }
  .nosotros__idiologia--tipo {
    border: solid #feffde 5px;
    margin: 20px;
    padding: 10px;
    background-color: #ddffbc;
    font-family: $body-font;
    text-align: center;
    background-color: #fff;
    box-shadow: 10px 5px 5px 5px black;
    border: solid #5c5c5c 10px;

  }
/*Media query*/ 
@media (max-width: 576px) {
  .alma {
    @include columna;
    }
  #navbar{
    @include columna;
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
    }
    .navbar-collapse {
      a {
        @include columna;
        align-items: center;
        img {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .class {
    display: block;
  }
  .fotoFondo {
    text-align: center;
  }
  .slide-in-tl {
    animation: none;
  }
  .slide-in-tl-1 {
    animation: none;
  }
  .slide-in-tl-2 {
    animation: none;
  }
  .columna {
    box-shadow: none;
    }
  .footer {
    @include columna;
    align-items: center;
    background-color: $color-dark;
    background-image: none;
    }
    .footer-columna {
      @include columna;
        h4 {
            font-size: 1.5rem;
        }
        label {
            font-size: 1rem;
        }
        
        &:hover {
            color: #ccc;
        }
    }
    .foot {
      @include columna;
      justify-content: space-around;
      align-items: center;
    }
    /*Proyectos*/
    .obras {
      @include columna;
        .foto img{
            width: auto;
        }
    }
    /*Servicios*/
    .servicios {
      background-color: $color-wall;
      @include columna;
      text-align: center;
    }
    .servicios__metodologia {
      @include columna;
    }
    .nosotros {
        display: flex;
        flex-direction: column;
    }
    .nosotros__idiologia {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px){
  .alma {
    display: flex;
    flex-direction: column;
  }
  #navbar{
      display: flex;
      flex-direction: column;
      .navbar-nav {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .navbar-collapse {
          a {
              display: flex;
              flex-direction: column;
              align-items: center;
              img {
                  margin-left: 0;
                  margin-top: 10px;
              }
          }
      }
  }
  .torso {
    display: flex;
    flex-direction: column;
    
  }
  .tresColumnas{
    display: flex;
    flex-direction: column;
    background-color: #97b557;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-columna {
      display: flex;
      flex-direction: column;
      h4 {
          font-size: 1.5rem;
      }
      label {
          font-size: 1rem;
      }
      li {
          font-size: 1rem;
      }
      &:hover {
          color: #ccc;
      }
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .obras {
      display: flex;
      flex-direction: column;
      .foto img{
          width: 100%;
      }
  }
  .servicios {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .servicios__metodologia {
      display: flex;
      flex-direction: column;
      background-color: #ddffbc;
  }
  .carrusel {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .carousel-item{
      width: auto;
  }
  .nosotros {
      display: flex;
      flex-direction: column;
  }
  .nosotros__idiologia {
      display: flex;
      flex-direction: column;
  }
}
 @media (max-width: 1050px){
  .alma {
      display: flex;
      flex-direction: column;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .navbar-collapse {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    .tresColumnas{
      display: flex;
      flex-direction: column;
      background-color: #97b557;
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-columna {
        display: flex;
        flex-direction: column;
        h4 {
            font-size: 1.5rem;
        }
        label {
            font-size: 1rem;
        }
        li {
            font-size: 1rem;
        }
        &:hover {
            color: #ccc;
        }
    }
    .foot {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .obras {
        display: flex;
        flex-direction: column;
        .foto img{
            width: 100%;
        }
    }
    .servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .servicios__metodologia {
        display: flex;
        flex-direction: column;
        background-color: #ddffbc;
    }
    .servicio__metodologia--color {
      width: 100%;
    }
    .carrusel {
        display: none;
        
    }
    .contact {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .nosotros {
        display: flex;
        flex-direction: column;
    }
    .nosotros__idiologia {
        display: flex;
        flex-direction: column;
    }
}